* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

p, a {
    font-size: 16px;
}

li {
    font-size: 14px;
}