body {
    background-color: ghostwhite;
}

h1 {
    padding-top: 15px;
    color: ghostwhite;
}

h2 {
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.header {
    height: 75px;
    background-color: darkgreen;
    text-align: center;
}

.home,
.link-div {
    text-align: center;
}

.profile-image {
    border-color: black;
    max-height: 200px;
    border-width: thick;
}

.page {
    margin-left: 15%;
    margin-right: 15%;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.card img {
    border-radius: 2px;
    max-height: 150px;
}

.resume-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    background-color: black;
}

.nav-item {
    display: inline-block;
    margin: 10px;
}

.nav-link {
    margin: 10px;
    color: ghostwhite;
}

.resume-div {
    padding-top: 5px;
    padding-bottom: 5px;
}

.border-bottom {
    border-bottom-width: thin;
    border-bottom-color: black;
    border-bottom-style: dashed;
}

.nav-link:hover {
    text-shadow: 0 0 5px ghostwhite;
}

.project-name,
.project-description {
    margin-left: 4px;
    margin-bottom: 4px;
}

.resume-heading,
.resume-subheading {
    margin-top: 4px;
    margin-bottom: 4px;
}

.resume-link {
    margin-top: 15px;
    margin-top: 15px;
}

@media screen and (max-width: 500px) {
    .nav-item {
        display: block;
        text-align: center;
    }
}
